<template>
  <b-container fluid>
    <b-form-select
      v-model="selectedDate"
      @change="changeDate"
      :options="$_dates"
      class="selectedDate"
    >
    </b-form-select>
    <RelatedTable
      :leftfield="leftFields"
      :rightfield="rightFields"
      :actionField="['Acct']"
      :selectedDate="selectedDate"
      lefttype="acct"
      righttype="docs"
      action="getDocsByAcct"
    >
    </RelatedTable>
  </b-container>
</template>

<script>
import { BFormSelect, BContainer } from 'bootstrap-vue';
import RelatedTable from '@/components/RelatedTable.vue';

export default {
  name: 'Invoice',
  components: {
    RelatedTable,
    BFormSelect,
    BContainer,
  },
  data() {
    return {
      selectedDate: null,
      leftFields: [
        {
          key: 'Acct',
          label: 'Номер счета',
        },
        {
          key: 'Ost',
          label: 'Остаток',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
      rightFields: [
        {
          key: 'OpDate',
          label: 'Дата',
        },
        {
          key: 'AcctDB',
          label: 'Счет дебета',
        },
        {
          key: 'AcctCr',
          label: 'Счет кредита',
        },
        {
          key: 'Amount',
          label: 'Сумма',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
    };
  },
  computed: {
    $_dates() {
      return this.$store.getters.dates;
    },
  },
  methods: {
    changeDate(value) {
      this.selectedDate = value;
      this.getActts();
    },
    getActts() {
      this.$store.dispatch('getAcctByDate', this.selectedDate);
    },
  },
  mounted() {
    this.getActts();
    this.selectedDate = this.$_dates[0];
  },
};
</script>
