<template>
  <RelatedTable
    :leftfield="leftFields"
    :rightfield="rightFields"
    lefttype="date"
    righttype="docs"
    action="getDocsByDate"
    :actionField="['OpDate']"
  >
  </RelatedTable>
</template>

<script>
import RelatedTable from '@/components/RelatedTable.vue';

export default {
  name: 'Operdays',
  components: {
    RelatedTable,
  },
  data() {
    return {
      leftFields: [
        {
          key: 'OpDate',
          label: 'Дата операционного дня',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
      rightFields: [
        {
          key: 'AcctDB',
          label: 'Счет дебета',
        },
        {
          key: 'AcctCr',
          label: 'Счет кредита',
        },
        {
          key: 'Amount',
          label: 'Сумма',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
    };
  },
  mounted() {
    this.$store.dispatch('getOperationDates');
  },
};
</script>
