<template>
  <RelatedTable
    :leftfield="leftFields"
    :rightfield="rightFields"
    lefttype="docs"
    righttype="acct"
    action="getAcctByDoc"
    :actionField="['AcctCr', 'AcctDB']"
    :cols="[8, 4]"
  >
  </RelatedTable>
</template>

<script>
import RelatedTable from '@/components/RelatedTable.vue';

export default {
  name: 'Operations',
  components: {
    RelatedTable,
  },
  data() {
    return {
      leftFields: [
        {
          key: 'OpDate',
          label: 'Дата',
        },
        {
          key: 'AcctDB',
          label: 'Счет дебета',
        },
        {
          key: 'AcctCr',
          label: 'Счет кредита',
        },
        {
          key: 'Amount',
          label: 'Сумма',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
      rightFields: [
        {
          key: 'Acct',
          label: 'Номер счета',
        },
        {
          key: 'Ost',
          label: 'Остаток',
        },
        {
          key: 'actions',
          label: 'Действия',
        },
      ],
    };
  },
  mounted() {
    this.$store.dispatch('getDocs');
  },
};
</script>
