<template>
  <b-navbar type="dark" variant="primary">
    <b-navbar-nav>
      <b-nav-item exact to="/">Счета</b-nav-item>
      <b-nav-item to="/operdays">Операционные дни </b-nav-item>
      <b-nav-item to="/operations">Операции</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>
<script>
import { BNavbar, BNavbarNav, BNavItem } from 'bootstrap-vue';

export default {
  components: {
    BNavbar,
    BNavbarNav,
    BNavItem,
  },
};
</script>
