<template>
  <b-container class="TablePage" fluid>
    <b-row>
      <b-col :cols="cols[0]">
        <div class="d-flex actionsTable">
          <div class="ms-auto">
            <addPopup :date.sync="selectedDate" :type="lefttype" side="addLeftTable" />
          </div>
        </div>
        <b-table
          @row-selected="onRowSelected"
          :items="$_leftTable"
          :fields="leftfield"
          class="tableAcct"
          select-mode="single"
          selectable
          sticky-header
          >
          <template #cell(actions)="row">
            <b-button size="sm" @click="showDetails(row.item)">Детали</b-button>
            <b-button size="sm" @click="deleteRow(row, 'setLeftTable')">Удалить</b-button>
          </template>
        </b-table>
      </b-col>
      <b-col :cols="cols[1]">
        <div class="d-flex actionsTable">
          <div class="ms-auto">
            <addPopup :type="righttype" side="addRightTable" :disabled="!selectRow" />
          </div>
        </div>
        <b-table
          :items="$_rightTable"
          :fields="rightfield"
          sticky-header
          show-empty
          emptyText="Пусто"
          >
          <template #empty="scope">
            <div class="emptyTable">{{ scope.emptyText }}</div>
          </template>
          <template #cell(actions)="row">
            <b-button size="sm" @click="showDetails(row.item)">Детали</b-button>
            <b-button size="sm" @click="deleteRow(row, 'setRightTable')">Удалить</b-button>
          </template>
        </b-table>
      </b-col>
    </b-row>
    <b-modal ref="viewRow" id="viewRow" title="Просмотр">
      <pre>{{ selectRow }}</pre>
    </b-modal>
  </b-container>
</template>
<script>
import {
  BTable,
  BContainer,
  BRow,
  BCol,
  BButton,
  BModal,
} from 'bootstrap-vue';
import addPopup from '@/components/addPopup/index.vue';

export default {
  name: 'RelatedTable',
  components: {
    BTable,
    BContainer,
    BRow,
    BCol,
    BButton,
    BModal,
    addPopup,
  },
  props: {
    leftfield: Array,
    rightfield: Array,
    lefttype: String,
    righttype: String,
    action: String,
    actionField: Array,
    selectedDate: String,
    cols: {
      type: Array,
      default: () => [4, 8],
    },
  },
  data() {
    return {
      selectRow: null,
    };
  },
  computed: {
    $_leftTable() {
      return this.$store.getters.leftTable;
    },
    $_rightTable() {
      return this.$store.getters.rightTable;
    },
  },
  methods: {
    onRowSelected(item) {
      if (item[0]) {
        this.selectRow = this.actionField.map((field) => item[0][field]);
      } else {
        this.selectRow = null;
      }
      this.$store.dispatch(this.action, this.selectRow);
    },
    showDetails(row) {
      this.selectRow = row;
      this.$refs.viewRow.show();
    },
    deleteRow(row, side) {
      this.$bvModal.msgBoxConfirm('Удалить?')
        .then((success) => {
          if (success) {
            const newArr = side === 'setLeftTable' ? [...this.$_leftTable] : [...this.$_rightTable];
            newArr.splice(row.index, 1);
            this.$store.dispatch(side, newArr);
          }
        });
    },
  },
  beforeDestroy() {
    this.$store.dispatch('clear');
  },
};
</script>
