<template>
  <span>
    <b-button :disabled="disabled" size="sm" @click="showModal">Добавить</b-button>

    <b-modal hide-footer ref="addForm" title="Добавить">
      <template #modal-header>
        <h5>Добавить</h5>
      </template>
      <b-form @submit="onSubmit">
        <b-form-group v-for="field in fields" :key="field.id">
          <label for="input-live">{{ field.label }}:</label>
          <b-form-input
            :id="'input_' + field.key"
            :type="field.type"
            v-model="form[field.key]"
            :readonly="field.readonly"
            trim
          ></b-form-input>
        </b-form-group>

        <div class="modal-footer">
          <b-button @click="hideModal">Отмена</b-button>
          <b-button type="submit">Добавить</b-button>
        </div>
      </b-form>
    </b-modal>
  </span>
</template>

<script>
import {
  BButton, BModal, BForm, BFormInput, BFormGroup,
} from 'bootstrap-vue';
import Fields from './tables';

export default {
  components: {
    BButton,
    BModal,
    BForm,
    BFormInput,
    BFormGroup,
  },
  props: {
    type: String,
    date: String,
    side: String,
    disabled: Boolean,
  },
  data() {
    return {
      fields: [],
      form: {},
    };
  },
  methods: {
    showModal() {
      const fields = Fields[this.type];
      fields.forEach((field) => {
        this.form[field.key] = '';
      });
      this.fields = fields;
      if (this.date) {
        this.form.OpDate = this.date;
      }

      this.$refs.addForm.show();
    },
    hideModal() {
      this.fields = [];
      this.form = {};

      this.$refs.addForm.hide();
    },
    onSubmit(event) {
      event.preventDefault();

      this.$store.dispatch(this.side, [this.form]);
      this.hideModal();
    },
  },
};
</script>
