<template>
  <b-container id="app" class="app" fluid>
    <Header />
    <b-container class="mainContent" fluid>
      <router-view />
    </b-container>
  </b-container >
</template>
<script>
import Header from '@/components/Header.vue';
import { BContainer } from 'bootstrap-vue';

export default {
  components: {
    BContainer,
    Header,
  },
};

</script>
