
@import 'reset'


html
  min-height: 100%
  height: 100%

body
  line-height: 1
  min-height: 100%
  height: 100%


.app
  display: flex
  height: 100%
  width: 100%
  flex-direction: column
  padding: 0

  &.container-fluid
    padding: 0

  nav
    margin-bottom: 10px

  .mainContent
    height: 100%
    overflow: hidden
    position: relative
    .TablePage
      height: 100%
      .row
        height: 100%
        div[class*="col-"]
          height: calc(100% - 50px)
      .b-table-sticky-header
        height: 100%
        max-height: none
      
.emptyTable
  text-align: center
.actionsTable
  height: 40px
  margin-bottom: 10px
  align-items: center
.footer
  margin-top: 20px
.selectedDate
  position: absolute